<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <% if (locals.currentUser) { %>
      <button><a href="/log-out">Log Out</a></button>
      <% console.log(locals.currentUser) %>
      <button><a href="/<%= locals.currentUser.membership_status ? 'member' : 'account' %>/<%= locals.currentUser._id %>">View Profile</a></button>
      <button><a href="/accounts">View Accounts</a></button>
      
      <% if (locals.currentUser.membership_status) { %>
        <button><a href="/members">View Members</a></button>
        <button><a href="/create">Create Message</a></button>
      <% } %>
    <% } else { %>
      <button><a href="/account/create">Sign Up</a></button>
      <button><a href="/log-in">Log In</a></button>
    <% } %>
    <ul>
      <% messages.map((message) => { %>
        <li>
          <p><%= message.title %></p>
          <p><%= message.text %></p>
          <% if (locals.currentUser && locals.currentUser.membership_status) { %>
            <p>
              <%= message.author === null ? "Author Deleted" : `${message.author.first_name} ${message.author.last_name}` %>
            </p>
            <p><%= message.timestamp %></p>
          <% } %>

          <% if (locals.currentUser && message.author && (message.author.username === locals.currentUser.username)) { %>
            <button><a href="/<%= message._id %>/edit">Edit</a></button>
          <% } %>
        </li>
      <% }) %>
    </ul>
  </body>
</html>
