<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <button><a href="/create">Create Message</a></button>
    <ul>
      <% messages.map((message) => { %>
        <li>
          <p><%= message.title %></p>
          <p><%= message.text %></p>
          <p><%= message.author.first_name %> <%= message.author.last_name %></p>
          <p><%= message.timestamp %></p>
          <button><a href="/<%= message._id %>/edit">Edit</a></button>
        </li>
      <% }) %>
    </ul>
  </body>
</html>
