<h1><%= title %></h1>

<ul>
  <% members.map((member) => { %>
    <li>
      <%= member.first_name %> 
      <%= member.last_name %> 
      <%= member.is_admin ? '(Admin)' : null %>
      <button><a href="<%= member.url %>">View</a></button>
    </li>
  <% }) %>
</ul>

<button><a href="/">Back</a></button>